body{
	margin: 0;
	padding: 0;
	color: whitesmoke;
}
.hero-image{
	background-image: url(../img/taxi.jpg);
	height: 100vh;
	width: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.cuadro{
	background-color: #f7b617;
	width: 100%;
	height: auto;
	padding: 20px;
	margin-top: 100px;
	font-weight: 600;
}

.cuadro button{
	background-color: whitesmoke;
	border-radius: 5px;
	border: none; 
	padding: 5px 13px;
	font-weight: 600;
	margin: 30px 0;
	color: black;
}

.cuadro img{
	padding-left: 20px;
}

.line {
	display: inline;
	width: 130px;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid whitesmoke;
}

.line,#bien{
	display: inline;
	font-size: 15px;
	padding: 0 30px;
}

.linea{
	display: inline;
}

.telefono{
	background-color: #f7b617;
	padding: 30px 0;
}

.phone{
	padding: 50px;
	border: 2px solid whitesmoke;
	background-color: #f7b617;
	margin: 0;
	color: whitesmoke;
}

.conduce{
	background-image: url(../img/conduce.jpg);
	height: 100vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.cuadroDos{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100vh;
	padding: 80px 30px;
	margin-bottom: 40px;
	color: whitesmoke;
}

.cuadroDos p{
	font-size: 16px;
}
.cuadroDos button{
	background-color: #f7b617;
	border-radius: 5px;
	border: none; 
	padding: 5px 13px;
	font-weight: 600;
}

.tarifa{
	background-color: #f7b617;
	width: 100%;
	height: 100vh;
}

.tarifario{
	margin: 110px 30px;
}

.ruta{
	background-color: transparent;
	width: 50%;
	border: 2px solid whitesmoke;
	border-radius: 7px;
	margin: 10px;
	padding: 10px;
}

#ruta{
	color: black;
	border-radius: 5px;
	border: 2px solid whitesmoke;
	padding: 5px 13px;
	font-weight: 600;
	background-color: whitesmoke;
	width: 50%;
}

#map{
	border: 3px solid whitesmoke;
	width: 500px;
	height: 400px;
	margin: 0;
}

#encuentrame{
	margin: 15px 10px;
	padding: 10px 15px;
	background-color: whitesmoke;
	border: 0;
	font-weight: 700;
	border-radius: 10px;
	font-size: 15px;
	color: black;
}